body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: lightgoldenrodyellow;
  color: #333;
  margin: 0;
}
#menu {
  margin: 2px;
  border: 2px solid #333;
  background-color: white;
  border-radius: 10px;
  display: flex;
  width: 230px;
  justify-content: space-evenly;
  text-decoration: none;
}
#userInput {
  flex: 1;
  padding: 7px;
  margin-right: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 16px;
}

#searcher {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid gray;
  border-top: 0;
  border-radius: 3px;
}

#submitButton {
  margin: 2px 2px 2px 2px;
  border: 2px solid #333;
  border-radius: 10px;
}

#siatka {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

#wyświetlana_siatka6 {
  margin: 2px;
  border: 2px solid #333;
  border-radius: 10px;
}

#wyświetlana_siatka12 {
  margin: 2px;
  border: 2px solid #333;
  border-radius: 10px;
}

#wyświetlana_siatka24 {
  margin: 2px;
  border: 2px solid #333;
  border-radius: 10px;
}

button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

#pokemonList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.pokemon {
  border: 2px solid black;
  border-radius: 6%;
  background-color: #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  margin: 100px;
  width: 300px;
}

.pokemon img {
  max-width: 100px;
}
#fav {
  /* margin-left: 150px; */
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 10px;

  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
}
#fav:hover {
  background-color: #555;
  color: white;
}

#fav:active {
  background-color: black;
  color: white;
}
#favhead {
  text-align: center;
}
#filterDiv {
  background-color: #ccc;
  border: 1px solid #555;
  border-radius: 10px;
  width: 80px;
  height: 60px;
  text-align: center;
}
#details {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  border: 3px solid gray;
  border-radius: 10px;
  margin-top: 100px;
}
#upper {
  display: flex;
  justify-content: center;
}
#displayInAnother {
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
  font-size: 75%;
}
#displayInAnother:hover {
  background-color: #555;
  color: white;
}

#displayInAnother:active {
  background-color: black;
  color: white;
}
#specialbuttons {
  display: flex;
  justify-content: space-evenly;
}
#comp {
  text-align: center;
  width: 100px;
  height: 30px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 30%;
  font-size: 17px;
  cursor: pointer;
}

#comp:hover {
  background-color: #555;
  color: white;
}
#comp:active {
  background-color: black;
  color: white;
}